/* Rofi config file */
configuration {
    font: "CaskaydiaCove Nerd Font 12";
    terminal: "foot";
    show-icons: true;
    display-window: "Window";
    display-drun: "Search";
    location: "center";
    cycle: true;
}

@theme "mytheme"

listview {
    lines: 12;
}
